@{

    Layout = "";

}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <title>مرحبا في نظام ادارة المدارس</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">




    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets2/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets2/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <link href="~/assets2/css/variables-green.css" rel="stylesheet">
    <link href="~/assets2/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: HeroBiz
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top" data-scrollto-offset="0">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>CyberPo<span>.</span></h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul>

                    <li class="dropdown">
                        <a href="#">
                            <span>الرئسية</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            `

                        </ul>
                    </li>

                    <li><a class="nav-link scrollto" href="index.html#about">حول</a></li>
                    <li><a class="nav-link scrollto" href="index.html#services">الخدمات</a></li>
                    <li><a class="nav-link scrollto" href="index.html#portfolio">محفظة </a></li>
                    <li><a class="nav-link scrollto" href="index.html#team">فريق</a></li>
                    <li><a href="/Dashboard">دخول الى النظام</a></li>
                    <li class="dropdown megamenu">
                        <a href="#">
                            <span>قائمة الانظمة</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a href="#">نظام المدارس</a>
                                <a href="#">نظام الفواتير</a>
                                <a href="#">ادارة المخزن</a>
                                <a href="#"> نظام محطات الكهرباء</a>
                                <a href="#"> نظام الهيئة العامة للموارد المائية</a>



                            </li>


                            <li>
                                <a href="#"> تطبيق البحث عن الادوية</a> <a href="#"> تطبيق تسبيح الفجر اليمني</a> <a href="#">
                                    تطبيق
                                    ادارة حلقات القران
                                </a>

                            <li>
                                <a href="#"> موقع موسسة الشمري للمقاولات </a>

                            </li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#">
                            <span>الاعمال</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li class="dropdown">
                                <a href="#">
                                    <span>التحليل والتصيمم </span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                                </a>
                                <ul>
                                    <li><a href="#">تصميم الانظمة</a></li>
                                    <li><a href="#">تطبيقات الديسكتوب </a></li>
                                    <li><a href="#">تطبيقات اندرويد </a></li>
                                    <li><a href="#">تصميم مواقع</a></li>
                                    <li><a href="#"> مشاريع التخرج في علوم الحاسوب</a></li>
                                </ul>
                            <li class="dropdown">
                                <a href="#">
                                    <span>التصميم </span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                                </a>
                                <ul>
                                    <li><a href="#">التصميم شعارت</a></li>
                                    <li><a href="#"> تصميم الوجهات</a></li>
                                    <li><a href="#">الهويات التجارية </a></li>
                                </ul>
                            </li>
                            <li><a href="#"> الدعاية والاعلان </a></li>
                            <li><a href="#">حل مشاكل الحاسوب</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="index.html#contact">المحتوى</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle d-none"></i>
            </nav><!-- .navbar -->

            <a class="btn-getstarted scrollto" href="index.html#about">البدء</a>

        </div>
    </header><!-- End Header -->



    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
             data-aos="zoom-out">
            <img src="~/assets2/img/hero-carousel/hero-carousel-3.svg" class="img-fluid animated">

            <h2>مرحبا بك في <span>نظام ادارة المدارس</span></h2><br>
            <p> نظام اداري متكامل وشامل للتحكم في ادارة كافة اقسام المدرسة من اجل ادارة مدرسية ناجحة </p>
            <div class="d-flex">
                <a href="#about" class="btn-get-started scrollto">ابداء</a>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                   class="glightbox btn-watch-video d-flex align-items-center">
                    <i class="bi bi-play-circle"></i><span>
                        شاهد
                        فيديو
                    </span>
                </a>
            </div>
        </div>
    </section>
    <!-- ======= Call To Action Section ======= -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-activity icon"></i></div>
                            <h4><a href="" class="stretched-link">إدارة الموارد المالية والبشرية </a></h4>
                            <p>
                                يمكن لنظام إدارة المدارس تسهيل إدارة الموارد المالية والبشرية، بما في ذلك إدارة الرواتب
                                والمصروفات والمشتريات والتعيينات والتقاعد، مما يساعد في تحسين الكفاءة والشفافية في إدارة
                                المدرس
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
                            <h4><a href="" class="stretched-link">تقييم الطلاب وتقارير الأداء:</a></h4>
                            <p>
                                يمكن لنظام إدارة المدارس تسجيل وتقييم أداء الطلاب وإصدار تقارير عن تقدمهم الأكاديمي
                                وسلوكهم، مما يساعد في تحليل البيانات واتخاذ قرارات تحسين التعليم.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
                            <h4><a href="" class="stretched-link">تنظيم البيانات</a></h4>
                            <p>
                                يتيح نظام إدارة المدارس تنظيم وتخزين البيانات المتعلقة بالطلاب والمعلمين والموظفين
                                والأولياء، مما يسهل الوصول إليها وتحديثها ومشاركتها بسهولة.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
                            <h4><a href="" class="stretched-link">التواصل مع أولياء الأمور</a></h4>
                            <p>
                                يمكن لنظام إدارة المدارس تسهيل التواصل بين المدرسة وأولياء الأمور من خلال إرسال الإشعارات
                                والرسائل الهامة، وتوفير منصة للتواصل والمشاركة في أنشطة المدرسة.
                            </p>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>
        </section><!-- End Featured Services Section -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>معلومات عنا</h2>
                    <p> باستخدام نظام إدارة المدارس، يمكن للمدارس تحسين كفاءتها وتحقيق أهدافها التعليمية بشكل أكثر فعالية.</p>
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <br />
                        <br><br><br /><br />

                        <br><br><br /><br />



                        <img src="~/assets2/img/hero-carousel/hero-carousel-1.png" alt="" class="img-fluid img "
                             style="margin-top: 10px; ">


                    </div>

                    <div class="col-lg-7">
                        <h3 class="pt-0 pt-lg-5">
                            نظام إدارة المدرسة هو برنامج أو نظام يهدف إلى تبسيط وتحسين العمليات الإدارية
                            والتعليمية في المدرسة
                        </h3>

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-3">
                            <li>
                                <a class="nav-link active" data-bs-toggle="pill" href="#tab1"> الهدف الرئيسي </a>
                            </li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2" style="margin-right: 45px;"> الخدمات </a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3"> معلومات عن</a></li>
                        </ul><!-- End Tabs -->
                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p>
                                    يساعد النظام في تبسيط العمليات الإدارية مثل التسجيل، الجداول الزمنية، الحضور، والتقارير الأكاديمية.
                                </p>
                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>تبسيط العمليات الإدارية:</h4>
                                </div>
                                <p>
                                    يمكن للنظام تحسين التواصل بين المدرسين والطلاب وأولياء الأمور، مما يساعد في تحقيق التعاون الأكبر.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>تحسين التواصل: </h4>
                                </div>
                                <p>
                                    جدولة الدروس والفصول الدراسية: يمكن للنظام تسهيل عملية جدولة الدروس والفصول الدراسية
                                    بناءً على الموارد المتاحة واحتياجات المدرسة، مما يساعد في تنظيم الوقت وتحسين توزيع
                                    المواد الدراسية.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        تتبع الأداء الأكاديمي
                                    </h4>
                                </div>
                                <p> يمكن للنظام تتبع الأداء الأكاديمي للطلاب وتقديم تقارير مفصلة للمدرسين وأولياء الأمور.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        تحسين الكفاءة:
                                    </h4>
                                </div>
                                <p> من خلال تقليل الأعمال الورقية وتحسين العمليات، يمكن للنظام تحسين كفاءة الإدارة المدرسية.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        تحسين الخدمات التعليمية:
                                    </h4>
                                </div>
                                <p> يمكن للنظام تحسين الخدمات التعليمية من خلال تقديم أدوات وموارد تعليمية متقدمة.</p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>
                                        توفير الوقت والموارد:
                                    </h4>
                                </div>
                                <p>
                                    يمكن للنظام توفير الوقت والموارد من خلال تبسيط العمليات وتحسين الكفاءة
                                    .
                                </p>


                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">

                                <p class="fst-italic">
                                    نظام إدارة المدارس هو أداة فعالة تساعد في تنظيم وتسهيل العمليات اليومية للمدارس.
                                    هنا بعض التفاصيل الأكثر تحديدًا:
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>1. *التسجيل والتسجيل الرقمي*:</h4>
                                </div>
                                <p>
                                    يمكن للطلاب وأولياء الأمور التسجيل والتسجيل في الدورات والأنشطة عبر الإنترنت، مما يقلل من الحاجة إلى
                                    الأوراق ويسرع العملية.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>2. *إدارة الفصول الدراسية*:</h4>
                                </div>
                                <p>
                                    يمكن للمعلمين تتبع الحضور، توزيع الواجبات، وتقييم الأداء الطلابي. يمكنهم أيضًا تحديث الجداول الزمنية
                                    والمناهج الدراسية.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>3. *التواصل*: </h4>
                                </div>
                                <p>
                                    يمكن للمعلمين وأولياء الأمور التواصل بسهولة عبر الرسائل الإلكترونية أو الرسائل النصية. يمكن أيضًا
                                    إرسال إشعارات وتحديثات مدرسية.
                                </p>
                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>4. *التقارير والتحليلات*: </h4>
                                </div>
                                <p>
                                    يمكن للإدارة تتبع الأداء الطلابي وتحليل البيانات لتحسين النتائج التعليمية. يمكن أيضًا تتبع الإحصائيات
                                    المالية والإدارية.

                                </p>
                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>5. *الموارد الرقمية*: :</h4>
                                </div>
                                <p>
                                    يمكن للطلاب والمعلمين الوصول إلى المواد التعليمية والموارد الرقمية، مثل الكتب الإلكترونية والفيديوهات
                                    التعليمية.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                    <i class="bi bi-check2"></i>
                                    <h4>6. *التطبيق والموقع الإلكتروني*: </h4>
                                </div>
                                <p>
                                    يمكن للطلاب وأولياء الأمور والمعلمين الوصول إلى النظام من أي مكان وفي أي وقت عبر التطبيق المحمول أو
                                    الموقع الإلكتروني. يمكنهم تحديث المعلومات، تقديم الواجبات، والتواصل مع الآخرين.

                                </p>


                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">

                                <p class="fst-italic">
                                    إذا كنت تبحث عن فريق برمجي مختص ومحترف لتحليل المتطلبات وتصميم الحلول البرمجية
                                    وتنفيذها واختبارها وصيانتها، فيجب عليك الاهتمام بتحديد الفريق المناسب لتحقيق نتائج إيجابية وحل المشاكل
                                    التي تواجهك في مجال التقنية.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                </div>
                                <p>
                                    فريقنا سيعمل معك لفهم مشروعك ومنتجاتك بشكل كامل، وسيوفر لك حلولاً سريعة وفعالة لإيجاد أفضل حل لمشاكلك
                                    التقنية. سيكون فريقنا ملتزماً بتقديم خدمة عالية الجودة ومواكبة أحدث التقنيات والاتجاهات في سوق
                                    التكنولوجيا.
                                </p>

                                <div class="d-flex align-items-center mt-4">
                                </div>
                                <p>
                                    إذا كنت تريد الاستفادة من أحدث التقنيات لتحقيق المزيد من النجاح والنمو، فسنكون سعداء للعمل معك وتوفير
                                    فريقنا المختص لتحقيق أهدافك التقنية بكل كفاءة ومهنية. نحن نعتبر أنفسنا شركاء في نجاحك وبالتالي فإن
                                    رضاك هو الهدف الأساسي الذي يجب تحقيقه بالنسبة لنا.
                                </p>


                            </div><!-- End Tab 3 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>الخدمات التي نقدم لك</h2>
                    <p>هناك العديد من الخدمات التي بقدمها فريق سيبر .</p>
                </div>

                <div class="row gy-5">

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-activity"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>حل مشاكل الحاسوب </h3>
                                </a>
                                <p>
                                    ما يميز فريقنا هو الاهتمام الشخصي الذي نوليه لكل عميل. نحن نفهم أن مشاكل الحاسوب يمكن أن تكون مزعجة
                                    وتؤثر على إنتاجيتك وراحتك. لذا، نحن نعمل بجد لتوفير حلول سريعة وفعالة لتلبية احتياجاتك الفردية.
                                    .
                                </p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-2.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-broadcast"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>خدمة تصميم الانظمة</h3>
                                </a>
                                <p>
                                    نحن فريق من المهندسين والمطورين ذوي الخبرة في مجال تصميم الأنظمة، ولدينا الخبرة اللازمة لتحليل
                                    احتياجاتك وتصميم وتطوير أنظمة مخصصة تلبي تلك الاحتياجات. سواء كنت تبحث عن نظام إدارة العملاء، نظام
                                    إدارة المخزون، نظام إدارة الموارد البشرية، أو أي نظام آخر، فإننا نستطيع تقديم الحل المثالي لك.

                                </p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-3.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-easel"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3> الدعاية والاعلان</h3>
                                </a>
                                <p>
                                    هل تبحث عن فريق محترف لمساعدتك في الدعاية والإعلان؟ إذاً، فأنت في المكان المناسب! فريق الدعاية
                                    والإعلان لدينا مستعد لتحويل عملك إلى علامة تجارية مميزة وجذابة.
                                    .
                                </p>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="500">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-4.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-bounding-box-circles"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>خدمة التصميم</h3>
                                </a>
                                <p>
                                    هل تبحث عن فريق محترف لتلبية احتياجاتك في مجال التصميم؟ إذاً، فأنت في المكان المناسب! فريق التصميم
                                    لدينا مستعد لتحويل أفكارك إلى حقيقة مبهرة.
                                    .
                                </p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="600">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-5.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-calendar4-week"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>التحليل</h3>
                                </a>
                                <p>
                                    مهما كانت احتياجاتك، سواء كنت تبحث عن تحليل البيانات التجارية، أو تحليل البيانات الاجتماعية، أو تحليل
                                    البيانات العلمية، فإن فريقنا مستعد لتقديم الدعم والخبرة اللازمة.
                                </p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="700">
                        <div class="service-item">
                            <div class="img">
                                <img src="~/assets2/img/services-6.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="details position-relative">
                                <div class="icon">
                                    <i class="bi bi-chat-square-text"></i>
                                </div>
                                <a href="#" class="stretched-link">
                                    <h3>خدمات علوم الحاسوب</h3>
                                </a>
                                <p>
                                    فريقنا مكون من خبراء في مجال علوم الحاسوب ولديهم خبرة واسعة في تنفيذ مشاريع التخرج. سواء كنت تبحث عن
                                    تصميم وتطوير تطبيقات الويب، أو تحليل البيانات، أو الذكاء الاصطناعي، فإننا نقدم الدعم والإرشاد
                                    اللازمين.
                                </p>
                                <a href="#" class="stretched-link"></a>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                </div>

            </div>
        </section><!-- End Services Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">



            <div class="container">

                <div class="row gy-5 gx-lg-5">

                    <div class="col-lg-4">

                        <div class="info">
                            <h3>معلومات التواصل</h3>
                            <p>فريق سيبر يسعد بزيارتكم في أي وقت .</p>

                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>الموقع:</h4>
                                    <p>ذمار - جولة المنزل - امام الكريمي</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>ايميل:</h4>
                                    <p>cyberprogrammingcom@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>موبايل :</h4>
                                    <p dir="ltr">+967 773 256 961</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="الاسم" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="الايميل" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="العنوان" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" placeholder="الرسالة" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">تحميل</div>
                                <div class="error-message"></div>
                                <div class="sent-message">لقد تم ارسال ارسالة بنجاح. شكرا لك!</div>
                            </div>
                            <div class="text-center"><button type="submit">ارسال الرساله</button></div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">


        <div class="footer-legal text-center">
            <div class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright">
                        &copy;  جميع الحقوق محفوظة  <strong><span>2023</span></strong>. CyberProgramming
                    </div>
                    <div class="credits">
                        <!-- All the links in the footer should remain intact. -->
                        <!-- You can delete the links only if you purchased the pro version. -->
                        <!-- Licensing information: https://bootstrapmade.com/license/ -->
                        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                        صمم بوسطة فريق <a href="https://bootstrapmade.com/">CyberProgramming</a>
                    </div>
                </div>

                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>

            </div>
        </div>

    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>


    <!-- Vendor JS Files -->
    <script src="~/assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets2/vendor/aos/aos.js"></script>
    <script src="~/assets2/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets2/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets2/vendor/php-email-form/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    <script src="~/assets2/js/main.js"></script>


</body>


</html>