@{

    Layout = "";

}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Webmin - Bootstrap 4 & Angular 5 Admin Dashboard Template" />
    <meta name="author" content="potenzaglobalsolutions.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>برنامج ابراهيم العزاني  لادارة المدارس</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900">

    <!-- css -->
    <link href="
https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css
" rel="stylesheet">
    <link href="~/assets/css/rtl.css" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

        <!--=================================
        preloader -->

        <div id="pre-loader">
            <img src="images/pre-loader/loader-01.svg" alt="">
        </div>

        <!--=================================
        preloader -->
        <!--=================================
        login-->

        <section class="height-100vh d-flex align-items-center page-section-ptb login"
                 style="background-image: ~/assets/images/login-bg.jpg">
            <div class="container">
                <div class="row justify-content-center no-gutters vertical-align">
                    <div class="col-lg-4 col-md-6 login-fancy-bg bg"
                         style="background-image: ~/images/login-inner-bg.jpg;">
                        <div class="login-fancy">
                            <h2 class="text-white mb-20" style="font-size:85px;font-family: 'Cairo', sans-serif;">  (: مرحبا   بك  </h2><br />
                            <p class="mb-20 text-white" style="font-size:15px">
                                <br />
                                في نظام المدرسة يرجى ادخل البريد وكلمة السر لمتبة استخدام النظام
                                نظام اداري متكامل وشامل للتحكم في ادارة كافة اقسام المدرسة من اجل ادارة مدرسية ناجحة

                                </>
                                <ul class="list-unstyled  pos-bot pb-30">
                                    <li class="list-inline-item"><a class="text-white" href="#"> فريق سيبر</a> </li>
                                    <li class="list-inline-item"><a class="text-white" href="#">      الادارة</a></li>
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 bg-white">
                        <div class="login-fancy pb-40 clearfix">
                            <h3 class="mb-30" style="font-family: 'Cairo', sans-serif;">تسجيل الدخول</h3>

                            <form method="POST" action="{{ route('login') }}">

                                <div class="section-field mb-20">
                                    <label class="mb-10" for="name">البريدالالكتروني*</label>
                                    <input id="email" type="email"
                                           class="form-control " name="email"
                                           required autocomplete="email" autofocus>
                                    <span class="invalid-feedback" role="alert">
                                    </span>

                                </div>

                                <div class="section-field mb-20">
                                    <label class="mb-10" for="Password">كلمة المرور * </label>
                                    <input id="password" type="password"
                                           class="form-control " name="password"
                                           required autocomplete="current-password">

                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>

                                </div>
                                <div class="section-field mb-20">

                                    <label class="mb-10" for="Name_en"
                                              >
                                            السنة الدراسية
                                            :
                                        </label>

                                    <select class="form-control selectpicker" name="">
                                            <option value="">
                                                2022-2023
                                            </option>

                                        </select>
                                        </div>

                                <div class="section-field">
                                    <div class="remember-checkbox mb-30">
                                        <input type="checkbox" class="form-control" name="two" id="two" />
                                        <label for="two"> تذكرني</label>
                                        <a href="#" class="float-right">هل نسيت كلمةالمرور ؟</a>
                                    </div>
                                </div>
                                <button class="button"><span>دخول</span><i class="fa fa-check"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
        login-->

    </div>
    <!-- jquery -->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <!-- plugins-jquery -->
    <script src="~/assets/js/plugins-jquery.js"></script>
    <!-- plugin_path -->
    <script>
        var plugin_path = 'js/';

    </script>

    <!-- chart -->
    <script src="~/assets/js/chart-init.js"></script>
    <!-- calendar -->
    <script src="~/assets/js/calendar.init.js"></script>
    <script src="~/assets/js/sparkline.init.j"></script>
    <script src="~/assets/js/morris.init.js"></script>
    <script src="~/assets/js/datepicker.js"></script>
    <script src="~/assets/js/sweetalert2.js"></script>
    <script src="~/assets/js/toastr.js"></script>
    <script src="~/assets/js/validation.js"></script>
    <script src="~/assets/js/lobilist.js"></script>
    <script src="~/assets/js/custom.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js
"></script>


</body>

</html>
