
<div class="side-menu-fixed">
    <div class="scrollbar side-menu-bg" style="overflow: scroll">
        <ul class="nav navbar-nav side-menu" id="sidebarnav">



            <!-- menu title -->

            <li class="mt-10 mb-10 text-muted pl-4 font-medium menu-title"> <i class="bi bi-database-fill-gear "></i><span class="right-nav-text">    انت الان في @ViewData["Title"]
            <li><a href="/ٍSystemSetup"> <i class="bi bi-building-gear "></i><span class="right-nav-text">  ادارة الطلاب</span></a></li>
            <li><a href="/Grade"> <i class="bi-file-earmark-person-fill"></i><span class="right-nav-text">  الاستاذ العام</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-wifi"></i><span class="right-nav-text"> الشبكات </span></a></li>

            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup">
                    <div class="pull-left">
                        <i class="bi bi-database-fill-gear"></i><span class="right-nav-text"> تهيئة النظام</span>
                    </div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="SystemSetup" class="collapse" data-parent="#sidebarnav">
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup1">
                            <i class="bi bi-building-gear"></i><span class="right-nav-text">   التهيئة العامة</span>

                        </a>
                        <ul id="SystemSetup1" class="collapse" data-parent="#SystemSetup1">

                            <li> <a href="fontawesome-icon.html">   التقويم الدارسي</a> </li>
                            <li> <a href="/AcademicDiscount">  دليل السنوات الدرسية </a> </li>
                            <li>
                                <a href="/AcademicStatuses"> الحالة الدرسية</a>
                            </li>
                            <li>    <a href="#">دليل الاقسام</a> </li>
                            
                            <li>    <a href="/Stage">دليل المراحل الدارسية </a> </li>

                            <li> <a href="#">دليل الحصص الدرسية</a></li>

                            <li> <a href="#"> الحصص الدرسية</a></li>
                            <li> <a href="#">دليل االجنسيات</a></li>
                            <li> <a href="#">دليل انواع الوثائق</a></li>
                            <li> <a href="#">  دليل الاشعارت الطلابي</a></li>
                            <li>   <a href="#"> دليل المخالفات</a> </li>
                            <li>   <a href="#">سجل  الزوار</a></li>
                            <li>  <a href="#">  التنبيهات</a></li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup2">
                            <i class="bi bi-calendar-day"></i><span class="right-nav-text">   تهيئة التقويم الدراسي </span>

                        </a>
                        <ul id="SystemSetup2" class="collapse" data-parent="#SystemSetup2">

                            <li>
                                <a href="#" class="acd-heading ">   التقويم الدارسي </a>
                            </li>
                            <li>
                                <a href="#" class="acd-heading ">   الخطة الدراسية </a>
                            </li>
                            <li>
                                <a href="/DayData" class="acd-heading ">دليل الايام الدراسية</a>

                            </li>
                            <li>
                                <a href="#" class="acd-heading ">دليل الاشهر الدراسية </a>

                            </li>

                            <li>
                                <a href="#" class="acd-heading ">  دليل الاجازات</a>
                            </li>
                      


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup3">
                            <i class="bi bi-door-open"></i><span class="right-nav-text"> تهيئة الصفوف</span>
                        </a>
                        <ul id="SystemSetup3" class="collapse" data-parent="#SystemSetup3">

                            <li>
                                <a href="/ClassData" class="acd-heading ">    دليل الصفوف  </a>
                            </li>
                            <li>
                                <a href="#" class="acd-heading ">    دليل تدرج الصفوف </a>
                            </li>
                            <li>
                                <a href="#" class="acd-heading ">دليل رموز الشعب </a>

                            </li>
                            <li>
                                <a href="#" class="acd-heading ">دليل الشعب  </a>

                            </li>

                            <li>
                                <a href="#" class="acd-heading ">  اسناد وثاق الصفوف </a>
                            </li>

                            <li>
                                <a href="#" class="acd-heading ">دليل القاعات الدراسية </a>

                            </li>
                            <li>
                                <a href="#" class="acd-heading "> توزيع الشعب القاعات  </a>

                            </li>

                            <li>
                                <a href="#" class="acd-heading ">   دليل المعامل  </a>
                            </li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup4">
                            <i class="bi bi-clipboard-data "></i><span class="right-nav-text">   تهيئة المواد</span>

                        </a>
                        <ul id="SystemSetup4" class="collapse" data-parent="#SystemSetup">

                            <li>  <a href="/Subject" class="acd-heading ">   دليل المواد الدراسية   </a></li>

                            <li> <a href="/Appreciation"> دليل المواد  التقديرية</a> </li>
                            <li> <a href="/DistributionClassSub">توزيع المواد على الصفوف </a> </li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup5">
                            <i class="bi-pencil-square"></i><span class="right-nav-text">   تهيئة الدرجات</span>

                        </a>
                        <ul id="SystemSetup5" class="collapse" data-parent="#SystemSetup">

                            <li>  <a href="/AcademicSystems" class="acd-heading ">  دليل انواع الدرجات   </a></li>

                            <li> <a href="/Appreciation">دليل التقديرات</a> </li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup6">
                            <i class="bi bi-cash-coin"></i><span class="right-nav-text"> تهيئة الرسوم الدراسية</span>

                        </a>
                        <ul id="SystemSetup6" class="collapse" data-parent="#SystemSetup">

                            <li>  <a href="/AcademicSystems" class="acd-heading ">  الأنظمة الأكاديمية  </a></li>

                            <li> <a href="/TypesTuitionFees">دليل فئات الرسوم</a> </li>
                            <li> <a href="/AcademicDiscount">دليل فئات الخصم </a> </li>
                            <li> <a href="weather-icon.html">دليل فئات الاقساط </a> </li>
                            <li> <a href="/ClassTuitionFees">دليل رسوم الصفوف  </a> </li>
                            <li> <a href="weather-icon.html">دليل فئات الغرامات </a> </li>


                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup7">
                            <i class="bi bi-phone-flip "></i><span class="right-nav-text">  تهيئة التطبيق</span>

                        </a>
                        <ul id="SystemSetup7" class="collapse" data-parent="#SystemSetup">

                     
                        </ul>
                    </li>
                </ul>

            </li>
            <li><a href="/Grade"> <i class="bi bi-file-earmark-person-fill"></i><span class="right-nav-text"> شوان الطلاب</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-display"></i><span class="right-nav-text"> الكنترول </span></a></li>
            <li><a href="/Grade"> <i class="bi bi-person-rolodex"></i><span class="right-nav-text">  شوان الموظفين</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-award"></i><span class="right-nav-text">  الانشطة الطلابية</span></a></li>
            <!--بداية ادارة المواصلات-->
            <li>
                <a href="javascript:void(0);" data-toggle="collapse" data-target="#TransportationDepartment">
                    <div class="pull-left">
                        <i class="bi bi-bus-front"></i><span class="right-nav-text">  ادارة المواصلات</span>
                    </div>
                    <div class="pull-right"><i class="ti-plus"></i></div>
                    <div class="clearfix"></div>
                </a>
                <ul id="TransportationDepartment" class="collapse" data-parent="#sidebarnav">
                    <li>
                        <a href="/Bus">
                            <i class="bi bi-person-vcard"></i><span class="right-nav-text">  السائقين  </span>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup3">
                            <i class="bi bi-bus-front"></i><span class="right-nav-text">  الحافلات</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup5">
                            <i class="bi bi-sign-turn-right-fill "></i><span class="right-nav-text">    تحديد المسارات وجدول الرحلات</span>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup6">
                            <i class="bi bi-pin-map  "></i><span class="right-nav-text">  توزيع الطلاب على الحافلات </span>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup1">
                            <i class="bi-graph-up-arrow "></i><span class="right-nav-text">  أداء خدمة النقل المدرسي  </span>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup3">
                            <i class="bi-diagram-3-fill"></i><span class="right-nav-text"> المعلومات والتقارير</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup5">
                            <i class="bi bi-cone-striped "></i><span class="right-nav-text">  وضع معايير السلامة</span>

                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-toggle="collapse" data-target="#SystemSetup6">
                            <i class="bi bi-cash-coin"></i><span class="right-nav-text">   الحسابات</span>

                        </a>
                    </li>
                </ul>

            </li>
            <!-- نهاية ادارة المواصلات-->




            <li><a href="/Grade"> <i class="bi bi-coin"></i><span class="right-nav-text"> الشون المالية</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-box-seam"></i><span class="right-nav-text"> مخزن المدرسة</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-card-list"></i><span class="right-nav-text">  تقارير النظام</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-briefcase"></i><span class="right-nav-text">  نظام الارشفة</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-envelope-at"></i><span class="right-nav-text"> الرسائل النصية. </span></a></li>
            <li><a href="/Grade"> <i class="bi bi-book-half "></i><span class="right-nav-text"> المكتبة </span></a></li>
            <li><a href="/Grade"> <i class="bi bi-person-gear"></i><span class="right-nav-text">  المستخدمين</span></a></li>
            <li><a href="/Grade"> <i class="bi bi-sliders"></i><span class="right-nav-text">  الاعدادات</span></a></li>




        </ul>
    </div>
</div>