body {
    font-size: 15px ;
}


.hero-animated h2 span {
    color: var(--color-primary);
}

*, ::after, ::before {
    box-sizing: border-box;
}


.nav-tabs .nav-item{
    margin-bottom:30px;
}


.features .nav-tabs {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
}

.features .nav-link {
    border: 0;
    padding: 25px 20px;
    color: var(--color-secondary);
    box-shadow: 5px 5px 25px rgba(var(--color-secondary-rgb), 0.15);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0s;
    cursor: pointer;
    height: 100%;
}

    .features .nav-link i {
        font-size: 45px;
        line-height: 0;
    }

    .features .nav-link h4 {
        font-size: 17px;
        font-weight: 600;
        margin: 10px 0 0 0;
        color: var(--color-secondary);
    }

    .features .nav-link:hover {
        color: var(--color-primary);
    }

    .features .nav-link.active {
        transition: 0.3s;
        background: var(--color-secondary) linear-gradient(rgba(var(--color-primary-rgb), 0.95), rgba(var(--color-primary-rgb), 0.6));
        border-color: var(--color-primary);
    }

        .features .nav-link.active h4 {
            color: var(--color-white);
        }

        .features .nav-link.active i {
            color: var(--color-white) !important;
        }

.features .tab-content {
    margin-top: 30px;
}

.features .tab-pane.active {
    animation: fadeIn 0.5s ease-out;
}

.features .tab-pane h3 {
    font-weight: 600;
    font-size: 36px;
    color: var(--color-secondary);
}

.features .tab-pane ul {
    list-style: none;
    padding: 0;
}

    .features .tab-pane ul li {
        padding-bottom: 10px;
    }

    .features .tab-pane ul i {
        font-size: 24px;
        margin-right: 4px;
        color: var(--color-primary);
    }

.features .tab-pane p:last-child {
    margin-bottom: 0;
}
